* {
  box-sizing: border-box;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

html, body {
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: rgb(15, 15, 15);
}

h2 {
  font-family: "Courier New",Helvetica,Arial,sans-serif;
  margin:40px 50px;
  margin-left: 10px;
  
}

#container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 6fr 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas:
        "chart legend multiples";
}

#chart {
  height: 90vh;
  grid-area: chart;
}

#legend {
  height: 50%;
  margin-top: 100%;
  grid-area: legend;
  color: white;
}

#multiples {
  height: 90vh;
  grid-area: multiples;
}

.axisLabel {
  font-family: "Courier New",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  fill: white;
}

.axis {
  font-size: 9pt;
}

.legendLabel {
  font-family: "Courier New",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  /* outline: 1cm;
  outline-color: white;
  color: white; */
  vertical-align: middle;
}

.multAxisLabel {
  font-family: "Courier New",Helvetica,Arial,sans-serif;
  font-size: 10pt;
}

.multAxis {
  font-size: 4pt;
}
